/* universal styles */

html {
  font-size: 16px;
}

* {
  font-family: "Segoe UI", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

header {
  width: 100%;
  display: flex;
  }

/* jumbotron section */

p {
  font-size: 14px;
}

.button {
  background-color: #989898;
  border: none;
  color: white;
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 1.5rem;
  font-size: 1.45rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.jumbotron {
  background-color: #E0E0E0;
  width: 100%;
}

.info {
  width: 100%;
  margin-right: 2rem;
}

.jumbo-image img {
  width: 100%;
}

/*styles for desktop*/

@media screen and (min-width: 481px) {

  body {
    display: block;
    margin: auto;
  }

/* header section */

  .logo {
    display: flex;
    align-items: center;
    flex-grow: 2;
  }

  .logo span {
    font-weight: normal;
    align-items: center;
    font-size: 1.5rem;
  }

/* header navigation section */

  nav.desktop {
    display: flex;
    margin-left: 24px;
  }

  .nav-mobile {
    display: none;
  }

  nav.desktop ul li{
    display: inline;
    margin-left: 2rem;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav a:hover{
    color: #FFFFFF;
    background-color: #000000;
    font-weight: bold;
  }

/* jumbotron section */

  .jumbotron {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .jumbotron-image {
    width: 60%;
  }

  .jumbo-image {
    width: 100%;
    margin: 2rem 0 2rem 1.5rem;
  }

  .jumbo-desc {
     display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    padding-left: 4rem;
  }

  .button:hover {
    background-color: #696969;
  }

/* info section */

  .info-container {
    display: flex;
    border-bottom: solid 1px #e0e0e0;
    margin-top: 2rem;
  }

  .info-desc {
    flex-direction: row;
    width: 60%;
    padding: 0rem 0 2rem 1.5rem;
  }

  .info-image img {
    width: 100%;
    padding-top: 1rem;
  }

  .information .big-desc {
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .information span {
    font-size: 0.75rem;
  }

  .side-desc-mobile {
    display: none;
  }

  .side-desc {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    width: 40%;
  }

  .desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: solid 1px #E0E0E0;
  }

  .desc:hover {
    background-color: #E0E0E0;
  }

  .small-image {
    width: 35%;
    margin: 1rem 1rem 1rem 1rem;
    height: auto;
    overflow: hidden;
  }

  .small-image img {
    width: 100%;
  }

  .desc .description {
    width: 65%;
    padding-right: 1rem;
  }

  .description a{
    text-decoration: none;
    font-weight: bold;
  }

  .description a:hover{
    text-decoration: underline;
    color: 000000;
  }

/* course section */

  .courses {
    background-color: #e0e0e0;
  }

  .title {
    display: block;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1.5rem;
  }

  .container-courses {
    display: flex;
    flex-direction: row;
    padding: 0 4.5rem 2rem 4.5rem;
  }

  .course-categories-desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

  .course {
    background-color: white;
    width: 30%;
    flex-direction: row;
    margin-top: 1.5rem;
  }

  .course:hover {
    color: white;
    background-color: #989898;
    transition: all 1.0s linear 0.5s;
  }

  .course .course-image img {
    width: 100%;
  }

  .details {
    padding: 1rem;
  }

  .course-categories-mobile {
    display: none;
  }

/* thesis exhibit section */

  .exhibit-container {
    display: flex;
    border-bottom: solid 1px #e0e0e0;
    margin-top: 2rem;
  }

  .exhibit-desc {
    flex-direction: row;
    width: 60%;
    padding: 0rem 0 2rem 1.5rem;
  }

  .video {
    width: 100%;
    overflow: hidden;
  }

  .video video {
    width: 100%;
  }

/* footer section */

  .footer {
    display: flex;
    align-items: center;
    flex-grow: 2;
  }

  .footer span {
    margin-left: 1.5rem;
  }
}

/*styles for mobile responsiveness*/

@media only screen and (max-width: 480px) {

/* mobile navigation */

  .logo, nav.desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    width: 100%;
  }

  .nav-mobile nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

/* jumbotron section*/

  .jumbotron-image {
    display: flex;
  }

  .jumbo-desc .info {
    margin-left: 1rem;
  }

  .button {
    width: 92%;
    margin-bottom: 2rem;
  }

  .title {
    text-align: center;
  }

/* info section */

  .side-desc {
    display: none;
  }

  .side-desc-mobile{
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  .side-desc-mobile .desc {
    width: 100%;
  }

  .side-desc-mobile .description {
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  .side-desc-mobile .description a {
    text-decoration: none;
    font-weight: bold;
    color: #104E8B
  }

  .small-image img {
    width: 100%;
    }

  /* course mobile section */

  .learn {
    padding-top: 1rem;
    border-top: 1px solid #E0E0E0;
  }

  .title h2 {
    margin-bottom: 1.75rem;
  }
  .course-categories-desktop {
    display: none;
  }

  .course-categories-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 0 1rem;
  }

  .course-mobile {
    width: 100%;
    padding: 1rem;
    text-align: left;
    background-color: #E0E0E0;
    margin-bottom: 0.5rem;
  }

  .mobile {
    display: none;
  }

/* thesis exhibit section */

  .thesis {
    padding-top: 1rem;
    border-top: 1px solid #E0E0E0;
  }

/* Footer */

  .footer {
    margin-top: 2.5rem;
  }
}
